NEXT_PUBLIC_CONFIGCAT_SDK_KEY=configcat-sdk-1/muDeCKjawU-FdkP-VzW6bQ/WprgQFGPP025lSa2hC4bQg
NEXT_PUBLIC_FARO_COLLECTOR_URL="https://faro-collector-prod-us-east-3.grafana.net/collect/d1da80947250574a14fb0d3dca43de2e"
NEXT_PUBLIC_FARO_APP_NAME="masorange-onboarding-web"
NEXT_PUBLIC_FARO_APP_ENV="development"
NEXT_PUBLIC_FARO_ENABLED="true"